DATABASE_URL="postgresql://username:password@localhost:5432/mydb"

# Better Auth configuration
BETTER_AUTH_URL=http://localhost:3000
# Generate a secret key: `bun run auth:generate`
BETTER_AUTH_SECRET= 
